asgiref==3.12.1
Django==5.2.17
django-axes==8.3.1
django-simple-history==3.13.0
django-two-factor-auth==1.18.1
defusedxml==0.7.1
et_xmlfile==2.0.0
gunicorn==23.0.0
openpyxl==3.1.5
packaging==26.3
psycopg==3.3.5
psycopg-binary==3.3.5
sqlparse==0.6.0
typing_extensions==4.16.0
